@import 'font-awesome';
@import 'themify';
@import 'vue2-animate/dist/vue2-animate.min.css';
@import 'vue-slider-component/dist-css/vue-slider-component.css';
@import 'vue-image-lightbox/dist/vue-image-lightbox.min.css';
$themeColor: #ff4c3b;
@import '~vue-slider-component/lib/theme/default.scss';
@import 'landing_page.scss';
// Color 1 scss
@import 'color1';
@import 'cart.scss';
@import 'blog.scss';
@import 'notice.scss';
@import 'address.scss';
@import 'addressList.scss';
@import 'header-widgets.scss';


@media (max-width: 577px) {
  .main-menu .menu-right .icon-nav .mobile-cart .mobile-img-cart {
    display: none
  }

  .goods_details {
    margin: 0 -15px;
  }

  .goods_details img {
    width: 100%;
  }

  .goods_details {
    padding: 1.25rem 0;
  }

  .row-grid-pro {
    width: 100vw;

    .col-grid-pro {
      width: 50%;
    }
  }
}

.x-blog-container img {
  width: 100%;
  height: 100%;
}

.h6-name {
  height: 50px;
  line-height: 25px;
  margin: 15px 0 0px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.x-blog-container {
  p {
    color: #777777 !important;
    font-size: 15px !important;

    span {
      color: #777777 !important;
      font-size: 15px !important;
    }
  }
}

.h5_classify {
  width: 100%;
  border-bottom: 1px solid #999999;
  line-height: 50px;
  font-weight: bold;
}

.prodInfo_img {
  img {
    width: 100% !important;
    height: auto !important;
  }

  table {
    width: 100% !important;
    height: auto !important;
  }
}

.p-0 {
  width: 100%;
  justify-content: center;
  display: inline-flex;
}