.warp {
  height: 30px;
  width: 80%;
  overflow: hidden;
  margin: 0 auto;
  margin-top: 20px;
}

.warp ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
}

.warp li {
  line-height: 60px;
  display: flex;
  justify-content: center;
  font-size: 15px;
}

.warp li h3 {
  color: #dd0c0c;
}