.checkout-img {
    width: 100%;
    display: inline-flex;
    justify-content: center;

    img {
        width: 100px !important;
    }

}

.checkout-prodName {
    text-align: center;
}

.checkout-h3 {
    text-align: center;
}